/* *
*
*
/* modal层 > .footFix */
.mModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.mModal>a {
    display: block;
}

/* 对话框 > .footFix */
.mDialog,
.mDialog * {
    margin: 0;
    padding: 0;
}
.mDialog {
    width: 205px;
    position: fixed;
    bottom: auto;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 25px;
}
.mDialog>figure {
    height: 42px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: 42px 42px;
    background-size: 42px 42px;
}
.mDialog>figure.succ {
    background-image: url('../../img/webapp/mdlg_icon_succ.png');
}
.mDialog>figure.warn {
}
.mDialog>figure.fail {
}
.mDialog>h1,
.mDialog>h2,
.mDialog>h3 {
    font-weight: normal;
}
.mDialog>h1 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 25px;
    width: 215px;
    margin: -5px -5px 0 -5px;
    padding: 8px 0 17px 0;
}
.mDialog>h2 {
    font-size: 15px;
    color: #fff;
    text-align: left;
    line-height: 23px;
    padding-bottom: 17px;
}
.mDialog>h3 {
    font-size: 13px;
    color: #00b900;
    text-align: center;
    line-height: 14px;
    padding: 3px 0 17px 0;
}
.mDialog>footer {
    width: 205px;
    height: 37px;
    margin-top: 3px;
}
.mDialog>footer a,
.mDialog>footer a:visited {
    display: inline-block;
    height: 37px;
    line-height: 37px;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #38b766;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}
.mDialog>footer a.one {
    width: 205px;
}
.mDialog>footer a.two {
    width: 97px;
}
.mDialog>footer a.two:nth-of-type(2) {
    float: right;
}
.mDialog>footer a:active,
.mDialog>footer a.off {
    background-color: #bebebe
}
.mDialog>a.x {
    display: inline-block;
    width: 27px;
    height: 27px;
    text-indent: -9999px;
    background: url('../../img/webapp/mdlg_btn_x.png') no-repeat 0 0;
    -webkit-background-size: 27px 27px;
    background-size: 27px 27px;
    position: absolute;
    top: -9px;
    right: -11px;
}

/* 提示框 > .footFix */
.mNotice,
.mNotice * {
    margin: 0;
    padding: 0;
}
.mNotice {
    width: 255px;
    text-align: center;
    position: fixed;
    bottom: auto;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 30px 0;
}
.mNotice>span {
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    margin: 0 auto;
    display: inline-block;
}
.mNotice>span.succ,
.mNotice>span.warn,
.mNotice>span.fail {
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 27px 27px;
    background-size: 27px 27px;
}
.mNotice>span.succ {
    background-image: url('../../img/webapp/mntc_icon_succ.png');
}
.mNotice>span.warn {
}
.mNotice>span.fail {
}

/* 图片弹出 > .footFix */
.mImgPopup,
.mImgPopup * {
    margin: 0;
    padding: 0;
}
.mImgPopup {
    text-align: center;
    position: fixed;
    bottom: auto;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.mImgPopup,
.mImgPopup>figure {
    width: 150px;
    height: 150px;
}
.mImgPopup>figure {
    background: url('../../img/webapp/loading.gif') no-repeat 50% 50%;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
}
.mImgPopup>a.x {
    display: inline-block;
    width: 27px;
    height: 27px;
    text-indent: -9999px;
    background: url('../../img/webapp/mdlg_btn_x.png') no-repeat 0 0;
    -webkit-background-size: 27px 27px;
    background-size: 27px 27px;
    position: absolute;
    top: -9px;
    right: -11px;
}

/* loading提示 */
#mLoading {
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 9999;
}
#mLoading,
#mLoading .lbk,
#mLoading .lcont {
    width: 146px;
}
#mLoading .lbk,
#mLoading .lcont {
    position: relative;
}
#mLoading .lbk {
    height: 146px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    z-index: 0;
}
#mLoading .lcont {
    text-align: center;
    color: #f5f5f5;
    font-size: 14px;
    line-height: 35px;
    z-index: 1;
    margin-top: -146px;
    padding-top: 90px;
    height: 56px;
    background: url('../../img/webapp/loading.gif') no-repeat 50% 50%;
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
}


/* jj */
.m-dialog{
    position: fixed;
    width: 280px;
    z-index: 1000;
    left:15px;
    top:100px;
    background-color: #fff;
    border-radius: 5px;
}
.m-content{
    min-height: 30px;
}
.m-dialog .m-txt{
    font-size: 16px;
    text-align: center;
    padding: 25px 0;
}
.m-footer{
    border-top: 1px solid #ddd;
    text-align: center;
    background-color: #f8f8f8;
    padding: 12px 0;
    border-radius: 0 0 5px 5px;
}
.m-btn{
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    color: #666;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 7px 30px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
}
.m-btn:hover, .m-btn:active{
    background-color: #e6e6e6;
    background-image:none;
    color: #333;
    text-decoration: none;
}
.m-btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top,#08c,#04c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: -o-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(to bottom,#08c,#04c);
    background-repeat: repeat-x;
    border-color: #04c #04c #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1);
}
.m-btn-primary:hover, .m-btn-primary:active{
    color: #ffffff;
    background-color: #0044cc;
}
.m-btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.m-btn-danger:hover, .m-btn-danger:active{
    color: #ffffff;
    background-color: #bd362f;
}
.m-btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.m-btn-info:hover, .m-btn-info:active{
    color: #ffffff;
    background-color: #2f96b4;
}
.m-btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.m-btn-success:hover, .m-btn-success:active{
    color: #ffffff;
    background-color: #51a351;
}