<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <title>test</title>
     <link rel="stylesheet" type="text/css" href="../../../css/webapp/wei_webapp.css">
    <script type="text/javascript" src="../../../../vendor/libs/seajs/2.0.0/sea.js"></script>
    <script type="text/javascript" src="../../../js/webapp/wei_webapp.js"></script>
    <style type="text/css">
       .x{
        margin-top: 300px;
        background-color: #CCC;
       }
    </style>
</head>
<body >
   
    <div class="x">
        <a href="../../profile/student.html">student</a>

    </div>
   
    
    <div class="m-dialog" id="mDialog_1">
        <div class="m-content">
            <p class="m-txt">的疯狂了发生开发了</p>
        </div>
        <div class="m-footer">
            <!-- <button class="m-btn m-btn-danger">确定</button>
            <button class="m-btn m-btn-info">确定</button>
            <button class="m-btn m-btn-success">确定</button>
            <button class="m-btn m-btn-primary">确定</button> -->
            <button class="m-btn">取消</button>
        </div>
    </div>
    <script type="text/javascript">
        
        seajs.use(['test'],function(test){
           console.log(test)
        });

    </script>

</body>
</html>